/build

bootrom/*
docs/warnings.txt
/Makefrag.pkgs
target
*.jar
*.stamp
*.vcd
*.swp
*.swo
*.log
*#
*~
.idea
.DS_Store
__pycache__/
*.pyc
env.sh
tags
*~
.bsp/
.conda-env/
.conda-lock-env/
.#*
first-clone-setup-fast-log
.bloop/
.metals/
project/.bloop/
project/metals.sbt
project/project/
.ivy2
.sbt
.classpath_cache/
.vscode/
tests/build/
tests/*.riscv
tmp/
node_modules/
/package.json
/package-lock.json
software/firemarshal/logs/
conference/HybridMapper/output/
conference/HybridMapper/HybridMapper/test/test_Model_output/
vivado*.jou
vivado*.log
AGENTS.md
